*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

form{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.modal form .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button{
    padding: 5px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.modal-content{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.columns{
    display: flex;
    margin: 0 50px;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column h2{
    font-size: 30px;
}

.errors{
    color: red;
}

li{
    list-style-type: none;
}

.add-task{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
}

.add-task input{
    height: 19px;
}

.column .errors{
    text-align: center;
    max-width: 150px;
}

.card{
    display: flex;
    flex-direction: column;
    
}

.card-date-ready{
    max-width: 250px;
}